*{
margin:0px;
padding:0px;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 1500px;
    height: 850px;
    background: rgba(229, 84, 115, 0.10);
    overflow: hidden;
}

.header-write{

display: flex;
flex-direction: column;
margin-top: 220px;
margin-left: 150px;

}

.header-h1{
width: 470px;
font-size: 60px;
font-weight:800px;
font-family: Lato;
color: #272727;

}

.header-p1{
    width: 450px;
    color: #27272799;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 450;
    line-height: 30px;
    margin-top: 32px;
   
    
}

.header-btn{
    width: 120px;
    height: 40px;
    color: #FFF;
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 5px;
    background-color: #ff0037ab;
    border: none;
    margin-top: 32px;
}



.header-pic{
    width: 500px;
    height: 600px;
    margin-top:40px;
    margin-right:230px;
}

/* main starts from here8 */




.section-a1{



}

.main-h1{
    margin-top: 178px;
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.main-p1{
    width:240;
    color: rgba(8, 8, 8, 0.6);
    text-align: center;
    font-family: Lato;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 30px;
}







.main-round-pic{
display:flex;
justify-content:center;
align-items: center;
width: 1500px;
height: 400px;
margin-top: 60px;
position: relative;
}



.img1{

    width: 310px;
    height: 428px;
   
}
.img2{

    width: 370px;
    height: 370px;
    margin-left:100px;
}
.img3{
    width: 314px;
    height: 471px;
    margin-left: 50px;
    
}


.a1 {

    width: 350px;
    height:350px;

}


.a2 {

    width: 300px;
    height: 300px;
    margin-left:100px;


}



.a3{


    width: 280px;
    height: 450px;
    margin-left: 50px;

}


.a-all{


    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
   
}

